@page
@model ProjektArbeitDanijelMademidda.Pages.adminModel
@{
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        thead {
            background-color: #f2f2f2;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

    </style>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <!-- Fügen Sie weitere Spalten hinzu, je nach Ihren Anforderungen -->
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                </tr>
            }
        </tbody>
    </table>
}
