@page
@model ProjektArbeitDanijelMademidda.Pages.IndexModel

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSC - Computer Science Community</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>


<body>


    <header>
        <div class="backlogo">
            <div class="logo">
                <a href="index.html"><img id="logo" src="/pic/CSC Logo.png" alt="Logo"></a>
            </div>
        </div>

        <div class="navi">
            <nav>
                <ul>
                    <li><a href="/pages/vpn.html">VPN</a></li>
                    <li><a href="/pages/mouse.html">Ultra silent Mouse</a></li>
                    <li><a href="/pages/keyboard.html">CSC designed keyboard</a></li>
                    <li><a href="/pages/games.html">Games</a></li>
                    <li><a href="https://discord.gg/CAct2ScQzx">Community</a></li>
                    <li><a href="https://discord.gg/CAct2ScQzx">Learn</a></li>
                    <li><a href="~/pages/login.html">Login</a></li>
                    <li><a href="~/pages/register.html">Register</a></li>
                </ul>
            </nav>
        </div>

        <div class="balken"></div>

    </header>



    <div class="mainad">
        <a href="nav/pages/mouse.html"><img class="mainmouse" src="pic/mouse.jpg" alt="Mousead"></a>
    </div>


    <div class="keyad">
        <a href="nav/pages/keyboard.html"><img class="mainkey" src="pic/key3 - Kopie.jpg" alt="keyboard"></a>
    </div>

    <footer class="footer">

        <div class="footbox">
            <a href="about.html"><p>&copy; Mademidda & Danijel</p></a>
            <a class="template" href="nav/pages/template.html"><p>Decoration</p></a>
            <div class="admin">
                <a class="admintext" href="/pages/admin.html">Are you an admin?</a>
            </div>
        </div>

    </footer>

</body>

</html>


